.edit-container-screen {
   height: 100vh;
   overflow: scroll;
}

.edit-screen nav {
    display: flex;
    height: 60px;
    background-color: #F4A261;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.edit-screen nav button {
    border: none;
    background-color: #F4A261;
    color: white;
    margin-left: 20px;
}

.screen-container {
    display: grid;
    grid-template-columns: 5% 15% 60% 20%;
}

/* Icon Container started */

.screen-container {
    background-color: #EDF0F2;
}

.screen-container .icons {
    background-color: #264653;
    display: flex;
    flex-direction: column;
}

.screen-container .icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    color: #ffffff;
    padding-top: 8px;
    font-size: 12px;
}

.screen-container .icons .active {
    background-color: #264653;
}

.screen-container .icons-container img {
    margin-bottom: 5px;
    height: 25px;
    width: 25px;
}

/* Icon Container End */
/* Features Container Stated */
.features {
    background-color: #264653;
}

.videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 10px;
    height: 82vh;
    overflow: scroll;
}

.videos div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videos .align {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.videos video {
    width: 90%;
    margin-top: 8px;
}

.videos img {
    width: 90%;
    height: 100%;
    margin-top: 8px;
}

/* Features Container End */
/* Edit Container Stated */

.edit-functionality {
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height:100%;
}

.edit-functionality button {
    border: none;
    background-color: #ffffff;
}

.edit-functionality button:active,
.edit-functionality button:focus {
    background-color: #dcdcdc;
    padding: 8px;
    border-radius: 5px;
    outline: 0;
}

.edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}


.seens {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    overflow: scroll
}

.layer-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}

.layer-button {
    width: 100px;
    height: 20px;
    background-color: #828282;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
}

.animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.animation button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

.color-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 10%;
}

.color-subcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.color {
    height:33px;
    width: 33px;
    margin-top: 3px;
}

.audio audio {
    width: 100%;
    height:30px;
    align-self: center;
}

.audio {
    height: 90vh;
    overflow: scroll;
}

.download-button-container {
    width: 90%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}
.download-button {
    text-decoration: none;
    padding: 10px;
}