
canvas {
  margin-top: 10px;
}

nav {
  height:80px;
  background-color: orange;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns:15% 30% 55% ;
  gap: 20px;
}

.grid .grey {
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:10px;
}

.grid input {
  margin-top: 10px;
  height:10px;
  width: 90%;
  border-radius: 5px;
  padding: 10px;
}

.grid .videos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid .videos .align {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.grid .videos video {
  width: 100%;
  margin-top: 8px;
}

.grid .videos img {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.selected-info-container {
  margin-top: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.layer-container {
  margin-top: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 15px;
}

.layer-button {
  width: 100px;
  height: 20px;
  background-color: #828282;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
}


button {
  margin-top: 5px;
  border: none;
  background-color: #828282;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
}

.animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 10px;
}

.seens {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  overflow: scroll
}
